.hidden-block { position: static;}

.call-title{font-family: 'OpenSans', sans-serif; font-size:  22px; line-height: 20px; width: 100%;       color:#ffffff; background-color:#00b7f4; position: relative;z-index: 2;            
    &:before{content: ''; position: absolute; bottom: -6px; width: 12px; height: 12px;     border-radius: 50%; left: calc(50% - 6px); background-color:#00b7f4; z-index: 1;}
}

#call_success{ max-width: 430px; width: 100%; min-width: 280px; border-radius: 6px;
    .call_success{text-align: center; 
        h3{padding-bottom: 30px;}
        .call-subtitle{font-family: 'OpenSans', sans-serif; font-size:  14px; line-height: 20px; color:#3a3737; max-width: 230px; margin: 0 auto; font-weight: 600;   }
    }
}

#call-popup{ max-width: 430px; width: 100%; min-width: 280px;text-align: center;
    .contact-form{max-width: 330px; width: 100%; margin: 0 auto;
        .contact-form-row{width: 100%; position: relative;  
            input{border: 1px solid #e3e3e3; outline: none; width: 100%; height: 44px; color: rgb(154, 159, 168); font-family: 'OpenSans', sans-serif; font-size: 14px; line-height: 40px; border-radius: 4px; box-shadow: inset 0px 0px 3px 3px rgba(227,227,227,0.75);padding-left: 15px; color: #9a9fa8;}
            ::-webkit-input-placeholder {color:#9a9fa8;}
            ::-moz-placeholder          {color:#9a9fa8;}
            :-moz-placeholder           {color:#9a9fa8;}
            :-ms-input-placeholder      {color:#9a9fa8;}
        }      
    }
}
