/* top-block */

    .top-block{background-image:url(../images/paralax-background.jpg);background-position: center top;position: relative;
        .mbox{position: static;}

        .paralax-background{position: absolute;top:0;right:0;bottom:0;left:0;text-align: center;z-index: 0;overflow: hidden;
            &>div{position: absolute;right: 0;left: 0;opacity: 0;
                img{position: relative;margin-right:-24%;}
                &:nth-child(1){transition:transform 300ms ease, opacity 300ms ease 300ms;
                    img{top:29px;}
                }
                &:nth-child(2){transition:transform 300ms ease, opacity 300ms ease 500ms;
                    img{top: 210px;}
                }
                &:nth-child(3){transition:transform 300ms ease, opacity 300ms ease 700ms;
                    img{top:112px;}
                }
            }
            &.show{
                &>div{opacity:1;}
            }
        }

        .top-block-content{max-width: 500px;color:#fff;position: relative;z-index: 1;padding: 95px 0 161px 0;}
        .top-block-title{font-size: 46px;line-height:56px;font-weight: 300;margin-bottom: 19px;
            b{font-weight: 700;}
        }
        .top-block-text{font-family:"Myriad Pro", sans-serif;font-size: 18px;margin-bottom: 35px;line-height: 28px}
        .blue_btn{height: 46px;line-height: 46px;text-transform: uppercase;padding: 0 4px;max-width: 220px;width: 100%;}

        .next-section-button{position: absolute;width: 60px;height: 60px;background-color:#fff;border-radius: 50%;cursor:pointer;bottom:-30px;left: calc(50% - 30px);
            span{display: block;position: absolute;top:50%;left:50%;animation-name: arrowAnim;animation-duration: 750ms;animation-iteration-count: infinite;animation-timing-function: linear;
                &:before, &:after{content: '';display:block;position:absolute;width: 14px;height: 1px;top:0;background-color:#a8adbb;transition:background-color 300ms ease;}
                &:before{left:calc(50% - 12px);transform-origin:50% 50%;transform:rotate(45deg);}
                &:after{left:calc(50% - 2px);transform-origin:50% 50%;transform:rotate(-45deg);}
            }
            &:hover{
                span{animation-play-state:paused;
                    &:before, &:after{background-color:#009bff;}
                }
            }
        }
    }

/* /top-block */

/* animations */

@keyframes arrowAnim {
    0% {top:50%;}
    50% {top:40%;}
    100% {top:50%;}
}

/* /animations */