<section class="blue-block">
    <div class="mbox">
        <div class="blue-block-title">
            Предоставьте своему покупателю индивидуальный каталог e.fish!
        </div>
        <div class="blue-block-button">
            <a href="#" class="blue_btn">Начать пользоваться</a>
        </div>
        <div class="blue-block-items">

            <div class="blue-block-item">

                <div class="blue-block-item-img">
                    <div class="blue-block-graf">
                        <img src="images/graf-img.png" alt="" />
                    </div>
                </div>

                <div class="blue-block-item-text">Конверсия до 4% в любой нише</div>

            </div>

            <div class="blue-block-item">

                <div class="blue-block-item-img">
                    <div class="blue-block-cart">
                        <img src="images/cart-img.png" alt="" />
                    </div>
                </div>

                <div class="blue-block-item-text">Для широкого ассортимента</div>

            </div>

            <div class="blue-block-item">

                <div class="blue-block-item-img">
                    <div class="blue-block-speed">
                        <img src="images/speed-img.png" alt="" />
                    </div>
                </div>

                <div class="blue-block-item-text">Результат через 75 часов</div>

            </div>

            <div class="blue-block-item">

                <div class="blue-block-item-img">
                    <div class="blue-block-money">
                        <img src="images/money-img.png" alt="" />
                    </div>
                </div>

                <div class="blue-block-item-text">Возвращаем деньги, если нет результата</div>

            </div>

        </div>
    </div>
</section>