<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="logo">
            <a href="#">
                <img src="images/logo.png" alt="">
            </a>
        </div>
        <div class="navigation">
            <div class="navigation-wrap cfix">
                <div class="item-wrap">
                    <div class="item active"><a href="#"><span>Цены</span></a></div>
                    <div class="item"><a href="#call-popup-disable" class="fancybox"><span>Подключиться</span></a></div>
                    <div class="item"><a href="#call-popup-disable" class="fancybox"><span>Помощь</span></a></div>
                </div>
                <div class="item-button">
                    <!-- non retist -->
                    <div class="regist active">
                        <a href="#" class="blue_btn"><span>Зарегистрироваться</span></a>
                    </div>
                    <!-- registr -->
                    <div class="regist ">
                        <a href="#" class="regist_user">
                            <span class="icon icon-img"><img src="images/icon-img-header.png" alt=""></span>
                            <span>Иван Иванов</span>
                        </a>
                    </div>
                </div>
                <div class="item-button">
                    <!-- non retist -->
                    <div class="regist active">
                        <a href="#call-popup" class="grey_btn fancybox">
                            <span class="icon icon-img-enter"><img src="images/icon-img-enter.png" alt=""></span>
                            <span>Войти</span>
                        </a>
                    </div>
                    <!-- registr -->
                    <div class="regist ">
                        <a href="#" class="grey_btn">
                            <span class="icon icon-img-enter"><img src="images/icon-img-enter.png" alt=""></span>
                            <span>Выйти</span>
                        </a>
                    </div>
                </div>
                <div class="menu-mobile">
                    <div><span></span></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

