<section class="second-block">
    <div class="second-wrap mbox">
        <div class="second-align">
            <h2>Долгий поиск <b>заставляет посетителей покинуть</b> интернет-магазин</h2>
            <p>Не заставляйте вашего покупателя тратить время на просмотр неподходящий товаров.</p>
            <p>Предоставьте ему индивидуальный каталог e.fish!</p>
            <a  class="button" href="#">как это работает</a>
            <div class="img"><img src="images/macbook.jpg" alt=""></div>
        </div>
    </div>
</section>