<section class="third-block">
    <div class="third-wrap">
        <div class="third-align mbox">
            <div class="slider">
                <div class="slide cfix">
                    <div class="img-block">
                        <div class="img">
                            <div class="coma"></div>
                            <img src="images/mugik.png" alt="">
                        </div>
                    </div>
                    <div class="text-block">
                        <h3>E.fish приносит дополнительно <b>1000 клиентов</b> в месяц</h3>
                        <p><span>Алексей Белугин,<span></p>
                        <p>владелец интернет-магазина Bagway.ru</p>
                        <a class="button" href="#">узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>