<section class="top-block">
    <div class="mbox">

        <div class="paralax-background">
            <div class="paralax-layer" data-way="top" data-max=30 data-count=0.05>
                <img src="images/paralax-fon.png" alt="" />
            </div>
            <div class="paralax-layer" data-way="bottom" data-max=50 data-count=0.25>
                <img src="images/paralax-shadow.png" alt="" />
            </div>
            <div class="paralax-layer" data-bottom="bottom" data-max=130 data-count=0.45>
                <img src="images/paralax-main.png" alt="" />
            </div>
        </div>

        <div class="top-block-content">
            <div class="top-block-title">Самый <b>быстрый</b> способ помочь вашим покупателям</div>
            <div class="top-block-text">Сделав всего пару кликов, покупатель в считанные секунды определяется с выбором.</div>
            <div class="top-block-button">
                <a href="#" class="blue_btn">зарегистрироваться</a>
            </div>
        </div>

        <div class="next-section-button">
            <span></span>
        </div>

    </div>
</section>