@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    /*header*/
    header{
        .navigation{
            .navigation-wrap{display: table;width: 100%;min-height: 60px;font-size: 13px;
                .item-wrap{display: block;position: absolute;top: 100%;right: 0;width: 100%;z-index: 10;display: none;}
                .item{display: block;text-align: center;background-color: #0094F2;padding: 0;
                    &.active{background-color:#E9F8FF;
                        a{color: #0094F2;}
                    }
                    a{color: #fff;font-weight: 600;padding: 10px 15px;display: block;font-weight: 600;font-size: 16px;
                        span:after{display: none;}
                    }
                }
                .menu-mobile{display: table-cell;vertical-align: middle;padding-left: 10px;
                    &.active{
                        div{
                            &:after,&:before{transform: translateX(-50%) rotate(45deg);top: 13px;}
                            &:before{transform: translateX(-50%) rotate(-45deg);}
                            span{opacity: 0;}
                        }
                    }
                    div{height: 32px;width: 50px;border:2px solid #1EB0FE;position: relative;border-radius: 3px;cursor: pointer;
                        &:after,&:before{position: absolute;content: '';width: 70%;left: 50%;transform: translateX(-50%);height: 2px;background-color: #1EB0FE;top: 6px;transition:all ease .2s;}
                        &:before{top: auto;bottom:6px;}
                        span{position: absolute;width: 70%;left: 50%;transform: translateX(-50%);height: 2px;background-color: #1EB0FE;top: 13px;transition:all ease .2s;}
                    }
                }
            }
        }
    }
    /*/header*/
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    /*header*/
    header{
        .logo{position: relative;left: 0;width: 100%;top: 0;transform: translateY(0);padding-top: 15px;text-align: center;
            a{display: inline-block;}
        }
        .navigation{float: none;text-align: center;
            .navigation-wrap{display: block;min-height: 0;padding-top: 10px;padding-bottom: 10px;}
            .navigation-wrap .item-button{display: block;padding-left: 0;padding-bottom: 5px;}
            .navigation-wrap .menu-mobile{float: right;}
        }
    }
    /*/header*/
}
@media screen and (max-width: 320px){

}